.body{ 
margin:0px; 

    background-image: radial-gradient(circle at center, green, black);

} 
.header{ 
height:8%; 
background:#000000; 
}


div.conteneur { 

width:100%;

text-align:center; }

div.bloc { 
padding:10px; /* aÃ©ration interne des blocs */
margin:0;/* espacement horizontal entre les blocs */
width:49%;
border:1px solid #fff;
display:inline-block;
vertical-align:middle;
text-align:center; /* on rÃ©tablit l'alignement du texte */ }