html,
body {
  background-color: rgb(10, 10, 10);
  font-family: Karla,Apercu,sans-serif;
  font-weight: 400;


}

.heading-content p{
	width:80%;
	margin:0 auto;
  margin-bottom:15%;
  font-size: 25px;
}

/*For Footer Section*/
.footer{

	color:#FFFFFF;
	padding: 7px 10px 0;
	text-align: center;
}
.social a i{
	color: #FFFFFF;
    font-size: 18px;
    background: #FFFFFF;
    border-radius: 100%;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
.social a i:hover{
	color:#FFFFFF;
	background-color: #FFFFFF;
}



div.bloc {
padding:10px; /* aÃ©ration interne des blocs */
padding-top: 10%;
margin:0;/* espacement horizontal entre les blocs */
margin-bottom:15%;
width:48%;
color:#0A0A0A;
display:inline-block;
vertical-align:middle;
text-align:center; /* on rÃ©tablit l'alignement du texte */ }
