html,
body {
  background-color: #AA9;
  font-family: apple chancery,cursive;
  font-weight: 400;
}

h1{
  color:#AA9585;
  font-family: fantasy;
  font-weight: 900;
  transform: translateY(0px);
}
body{
  color: #FDFDFD;
}
label{
  color: #FDFDFD;
  font-family: fantasy;
}
#indice_lieu{
  color: black;

}


.container{
background-color: black;

}

.panneau_index{
display: flex;
flex-direction: column;
position: absolute;
width: 15%;
margin: 3%;
padding-top: 5%;
}
.heading-content{
  display: flex;
  justify-content: center;
}
.bloc {
padding-top: 10%;
margin-bottom:15%;
color:#FDFDFD;
font-family: fantasy;
text-align:center; /* on rÃ©tablit l'alignement du texte */
}
.bloc p {
  font-weight:400;
}
.bloc h3{
  font-weight:100;
  font-size:40px;
}


/*For Footer Section*/
.footer{

	color:#FFFFFF;
	padding: 7px 10px 0;
	text-align: center;
}
.social a i{
	color: #FFFFFF;
    font-size: 18px;
    background: #FFFFFF;
    border-radius: 100%;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
.social a i:hover{
	color:#FFFFFF;
	background-color: #FFFFFF;
}
ul#menu_horizontal li {
display : inline;
padding : 0 0.5em;
}
ul#menu_horizontal {
list-style-type : none;
}

/* Camera CSS*/

#markerInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
  will-change: opacity;
}

#markerInfo.hidden {
  opacity: 0;
}

.marker-img-container {
  perspective: 600px;
}

.marker-img-container img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  transform: rotateX(60deg);
  opacity: 0.5;
}
