html,
body {
  background-color: #AA9;
  font-weight: 400;
    color: #FDFDFD;
}

h1{
  color:#AA9585;
  font-family: fantasy;
  font-size: 4em;
  transform: translateY(0px);
}
label{
  color: #FDFDFD;
  font-family: fantasy;
}
nav{
  font-family: karla,sans-serif;
}

#indice_lieu{
  color: black;
}
.container{
background-color: black;
font-family: apple chancery,cursive;
}
.cont{
  margin: 2%;
}
/* INDEX */
.heading-content{
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 2%;
}
.bloc {
padding-top: 10%;
margin-bottom:15%;
color:#FDFDFD;
font-family: fantasy;
text-align:center; /* on rÃ©tablit l'alignement du texte */
}
.bloc p {
  font-weight:400;
}
.bloc h3{
  font-weight:100;
  font-size:40px;
}
.fab-quest h3{
  font-size: 3.5em;
  padding: 4%;
  border-bottom: 1px solid black;
  transition-property: border-bottom;
  transition-duration: 4s;
}
.fab-quest h3:hover{
border-bottom: 2px solid red;
}
.index-txt{
  text-align: center;
}
.index-txt p{
  font-size:1.7em;
  margin-top:4%;
}
.voyageur{
  font-size: 2em;
  margin-bottom: 8%;
}
.txt-deux{
  padding-top: 6%;
}
.interrogation-point{
  padding-top: 7%;

}

/*connect */
.panneau_index{
display: flex;
flex-direction: column;
position: absolute;
width: 15%;
margin: 3%;
padding-top: 5%;
}
/* Camera CSS*/

#markerInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
  will-change: opacity;
}

#markerInfo.hidden {
  opacity: 0;
}

.marker-img-container {
  perspective: 600px;
}

.marker-img-container img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  transform: rotateX(60deg);
  opacity: 0.5;
}

.fa-camera-retro:before {
    content: "\f083";
    font-size: 40px;
}
/*Footer CSS */

.footer{
	color:#FFFFFF;
	padding: 2%;
	text-align: center;
}
.social{
  padding-top: 2%;
  border-top: 1px solid;
  margin-top: 2%;
}
.social a i{
	color: black;
    font-size: 18px;
    background: #FFFFFF;
    border-radius: 100%;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
.social a i:hover{
	color:#FFFFFF;
	background-color: #AA9585;
}
#img-fab {
  height: 50px;
}
#img-fab:hover{
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
ul#menu_horizontal li {
display : inline;
padding : 0 0.5em;
}
ul#menu_horizontal {
list-style-type : none;
}
